@font-face {
	font-family: 'inconsolata';
	src: url('/inconsolata-regular-webfont.woff2') format('woff2'),
			 url('/inconsolata-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.voyage .voyage__wrapper {
	text-align: center;
	white-space: pre-wrap;
	color: rgb(50, 200, 100);
	background-color: #010;
	background-image: none;
	margin: 0;
	padding: 0;
}

.voyage .r-links {
	text-align: left;
	margin-left: 20%;
	list-style-type: none;
}

.voyage .r-link {
	color: rgb(62, 231, 123);
	text-decoration: none;
}

.voyage .r-link:visited,
.voyage .r-link:active {
	color: rgb(62, 231, 123);
}

.voyage .r-link:hover {
	text-decoration: underline;
}

.voyage .dim {
	color: rgb(62, 231, 123, 0.5);
}

.voyage ol {
	padding: 0;
	line-height: 0.5em;
}

@media screen and (min-width: 700px) {
	.voyage .voyage__wrapper {
		font-size: 18px;
	}
}

@media screen and (min-width: 900px) {
	.voyage .voyage__wrapper {
		font-size: 24px;
	}
}
